<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYScrollPageView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>846B1E49206B95AB00108E0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846B1E62206B95AB00108E0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846B1E6D206B95AC00108E0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
